**TEST 1**

**RECURSIVE FUNCTION**


f(n)

In [1]:
def recursion(n):

    if n == 1:
        return 1

    else:
        return n * recursion(n-1) + n


num = 11

print("The recursion of", num, "is", recursion(num))

The recursion of 11 is 108505111


2

**ITERATIVE FUNCTION**

In [2]:
drinks = ["water", "juice", "coffee"]
i = 0
while (i < len(drinks)):
    print(drinks[i])
    i += 1

water
juice
coffee

**TEST 2**

**RECURSIVE FUNCTION**

f(n)

In [3]:
def f(n):
    if n == 1: 
        return 1

    else:
        return(n * f(n-1))

print(f(11))

39916800

**ITERATIVE FUNCTION**

In [6]:
n = 8
for i in range(n):
   print(40**(3*i))
   for i in range(n, -1, -1):
     print(40**(3*i))

1
281474976710656000000000000000000000000
4398046511104000000000000000000000
68719476736000000000000000000
1073741824000000000000000
16777216000000000000
262144000000000
4096000000
64000
1
64000
281474976710656000000000000000000000000
4398046511104000000000000000000000
68719476736000000000000000000
1073741824000000000000000
16777216000000000000
262144000000000
4096000000
64000
1
4096000000
281474976710656000000000000000000000000
4398046511104000000000000000000000
68719476736000000000000000000
1073741824000000000000000
16777216000000000000
262144000000000
4096000000
64000
1
262144000000000
281474976710656000000000000000000000000
4398046511104000000000000000000000
68719476736000000000000000000
1073741824000000000000000
16777216000000000000
262144000000000
4096000000
64000
1
16777216000000000000
281474976710656000000000000000000000000
4398046511104000000000000000000000
68719476736000000000000000000
1073741824000000000000000
16777216000000000000
262144000000000
4096000000
64000
1
1073741824000000000000000
281474976710656000000000000000000000000
4398046511104000000000000000000000
68719476736000000000000000000
1073741824000000000000000
16777216000000000000
262144000000000
4096000000
64000
1
68719476736000000000000000000
281474976710656000000000000000000000000
4398046511104000000000000000000000
68719476736000000000000000000
1073741824000000000000000
16777216000000000000
262144000000000
4096000000
64000
1
4398046511104000000000000000000000
281474976710656000000000000000000000000
4398046511104000000000000000000000
68719476736000000000000000000
1073741824000000000000000
16777216000000000000
262144000000000
4096000000
64000
1

**TEST 3**

GCD

**RECURSIVE FUNCTION**

In [7]:
def f(a, b):
    if(b == 0):
        return abs(a)
    else:
        return f(b, a % b)
 
a = 70
b = 21
print("The gcd of 70 and 21 is : ", end="")
print(f(70, 21))

The gcd of 70 and 21 is : 7

**ITERATIVE FUNCTION**

In [8]:
import math

print (math.gcd(7, 20))
print (math.gcd(22, 44))
print (math.gcd(11, 37))
print (math.gcd(8, 32))
print (math.gcd(9, 27))
print (math.gcd(10, 0))
print (math.gcd(0, 34))
print (math.gcd(3, 9))

1
22
1
8
9
10
34
3