## 1102 EXERCISE

MULTIPLE CHOICE


4110E210  - 安吉琳

**1.**


Which following is the correct way to create a dictionary in Python?

(A) students = { 'name' => 'alice' ; 'score' =>60 }

(B) students = { 'name' = 'alice' ; 'score' =60 }

(C) students = { 'name' : 'alice' ; 'score' : 60 }

(D) students = { 'name' => 'alice' , 'score' =>60 }

(E) students = { 'name' : 'alice' , 'score' : 60 }

**Answer**

**E**

In [1]:
student = {
  "name": "alice",
  "score": 60
}
print(student)

{'name': 'alice', 'score': 60}

**2.**

What does the following Python program fragment do?

s=0

for i in range (3 , 10) :

    s+=i

print (s)

(A) Calculate the sum of 1+2+…+10

(B) Calculate the sum of 1+4+7+10

(C) Calculate the sum of 3+4+5+6+…+9

(D) Calculate the sum of 3+4+5+6+…+10

(E) Calculate the sum of 0+2+4+6+…+10

**Answer:**

**B**

In [2]:
s=0
for i in range (3 , 10) :
  s+=i

print (s)

42

**3.**

What is the output of this code in Python?

  list = [ ' a ' ,  ' b ' ,  ' c ' ,  ' d ' ,  ' e ' ]

  print (list [ 1 : ])

(A) [ ]

(B) [ 'b' ]

(C) [ 'a' , 'b' ]

(D) [ 'b' , 'c' , 'd' , 'e' ]

**Answer:**

D

In [3]:
list = [ ' a ' ,  ' b ' ,  ' c ' ,  ' d ' ,  ' e ' ]

print (list [ 1 : ])

[' b ', ' c ', ' d ', ' e ']

4.

What is the output of this code in Python?

    L1 = [ ]

    L1.append ( [1, [2, 3], 4] )

    L1.extend ( [7, 8, 9] )

    print(L1[0][1][1] + L1[2] )

(A) 3

(B) 8

(C) 11

(D) 38

(E) None of these

Answer:

C

In [4]:
L1 = [ ]
L1.append ( [1, [2, 3], 4] )
L1.extend ( [7, 8, 9] )
print(L1[0][1][1] + L1[2] )

11

5.

What is the output of this code in python?

    r = lambda q: q * 2

    s = lambda q: q * 3

    x = 2

    x = r (x)

    x = s (x)

    x = r (x)

    print (x)

(A) 2

(B) 4

(C) 6

(D) 12

(E) 24

Answer:

E

In [5]:
r = lambda q: q * 2
s = lambda q: q * 3
x = 2
x = r (x)
x = s (x)
x = r (x)
print (x)

24

6.

Which of the following conditions correctly describes the output of this code in Python?

     first = [1 , 2 , 3 , 4 , 5]

     second = first

     second.append (6)

     print (first)

     print (second)

(A) first=[1, 2, 3, 4, 5], second=[1, 2, 3, 4, 5, 6]

(B) first=[1, 2, 3, 4, 5, 6], second=[1, 2, 3, 4, 5]

(C) first=[1, 2, 3, 4, 5], second=[1, 2, 3, 4, 5]

(D) first=[1, 2, 3, 4, 5, 6], second=[1, 2, 3, 4, 5, 6]

(E) None of these

**Answer:**

**D**

In [6]:
first = [1 , 2 , 3 , 4 , 5]
second = first
second.append (6)
print (first)
print (second)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

**7.**

If the function

int volume (int x = 1, int y = 1, int z = 1);

is called by the expression volume (7,8),

how many default arguments are used?

(A) None

(B) One

(C) Two

(D) Three

(E) It depends on the runtime environment.

**Answer:**

**D**

**Reading comprehension:What is the output of this code in Python?**

**B1.What is the output of this code in Python? explain it.**

# This is formatted as code

# primes.py
primes = []  # this will contain the primes at the end
upto = 100  # the limit, inclusive
for n in range(2, upto + 1):
    is_prime = True  # flag, new at each iteration of outer for
    for divisor in range(2, n):
        if n % divisor == 0:
            is_prime = False
            break
    if is_prime:  # check on flag
        primes.append(n)
print(primes)

**Answer:**

In [ ]:
# primes.py
primes = []  # this will contain the primes at the end
upto = 100  # the limit, inclusive
for n in range(2, upto + 1): 
    is_prime = True  # flag, new at each iteration of outer for
    for divisor in range(2, n):
        if n % divisor == 0:
            is_prime = False
            break
    if is_prime:  # check on flag
        primes.append(n) 
print(primes)

**Explanation:**

In [ ]:
# primes.py
    primes = []  # primes will contaian in the end
    upto = 100  # the inclusive limit 
    for n in range(2, upto + 1): # repeat an action a specific number of times  upto + 1 
        is_prime = True  # if factor is found, set flag to True
        for divisor in range(2, n): # repeat an action a specific number of times
            if n % divisor == 0: #  zero values are false
                is_prime = False  # if factor is found, set flag to False
                break # break out of loop
        if is_prime:  # check on flag
            primes.append(n) # is_prime is true then it will append in the list
    print(primes) # print prime numbers

**B2.What is the output of this code in Python? explain it.**

# This is formatted as code
# primes.else.py
primes = []
upto = 100
for n in range(2, upto + 1):
    for divisor in range(2, n):
        if n % divisor == 0:
            break
    else:
        primes.append(n)
print(primes)

**Answer:**

In [8]:
# primes.else.py
primes = []
upto = 100
for n in range(2, upto + 1):
    for divisor in range(2, n):
        if n % divisor == 0:
            break
    else:
        primes.append(n)
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

**Explanation:**

In [ ]:
# primes.else.py
primes = [] # primes will contaian in the end
upto = 100 # the inclusive limit
for n in range(2, upto + 1): # repeat an action  a specific number of times  upto + 1 
    for divisor in range(2, n): # repeat an action a specific number of times
        if n % divisor == 0: #  zero values are false
            break# break out of loop
    else: # flag is true 
        primes.append(n)  # is_prime is true then it will append in the list
print(primes) # print prime numbers

**B3.What is the output of this code in Python?explain it.**

In [ ]:
# This is formatted as 

cubes = [x**3 for x in range(1,6)]
print(cubes

**Answer:**

In [9]:
cubes = [x**3 for x in range(1,6)]
print(cubes)

[1, 8, 27, 64, 125]

**Explanation:**

In [ ]:
range(1,6) == > 1,2,3,4,5

[x**3 for x in range(1,6)] ==> [13 , 23 , ...., 5**3]

2**3 = 8

**Programming Python**

In [ ]:
The Fibonacci numbers may be defined by the recurrence relation

F_{0}=0, F_{1}=1

and

F_{n} = F_{n-1} + F_{n-2} for n > 1.

0,1,1,2,3,5,8,......

Under some older definitions, the value F_{0}=0 is omitted,

so that the sequence starts with F_{1}=F_{2}=1 and

the recurrence F_{n}=F_{n-1}+F_{n-2} is valid for n > 2

(1)Write a Python function/Program to Find Fibonacci Numbers using Recursion

(2)use iterative Approach To Find the nth Term Of Fibonacci Sequence(You need to write a function using loop)

In [10]:
# Python program to display the Fibonacci sequence

def recur_fibo(n):
   if n <= 1:
       return n
   else:
       return(recur_fibo(n-1) + recur_fibo(n-2))

nterms = 18

# check if the number of terms is valid
if nterms <= 0:
   print("Plese enter a positive integer")
else:
   print("Fibonacci sequence:")
   for i in range(nterms):
       print(recur_fibo(i))

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597

**1.**

In [11]:
def recur_fibo(n):  
   if n <= 1:  
       return n  
   else:  
       return(recur_fibo(n-1) + recur_fibo(n-2))  
 
nterms = 24
 
if nterms <= 0: 
   print("Plese enter a positive integer")  
else:  
   print("Fibonacci sequence:")  
   for i in range(nterms):  
       print(recur_fibo(i))

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657

**2.**

In [12]:
def fibonacci(n):
    a,b = 0,1
    for i in range(n):
        a,b = b,a+b
    return a

print(fibonacci(8))

21