1019 4110E210

Python For Loops

Exercise 1 : Loop through the items in the fruits list.

In [11]:
classmates = ["Chandro", "Joana", "Angela"]
for x in classmates:
  print(x)

Chandro
Joana
Angela

Exercise 2 : In the loop, when the item value is "Joana", jump directly to the next item.

In [8]:
classmates = ["Chandro", "Joana", "Angela"]
for x in classmates:
  if x == "Joana":
    continue
  print(x)

Chandro
Angela

Exercise 3 : Use the range function to loop through a code set 9 times.

In [9]:
for x in range(9):
  print(x)

0
1
2
3
4
5
6
7
8

Exercise 4 : Exit the loop when x is "joana".

In [10]:
classmates = ["Chandro", "Joana", "Angela"]
for x in classmates:
  print(x) 
  if x == "Joana":
    break
    print(X)

Chandro
Joana